#Ans 1
for loops and while loops are used to repeat a block of code for a specified number of times or until a certain condition is met.

A "for loop " is used when you have a sequence of items you want to iterate over(list, a string, etc.) and perform some operation on each item.

In [2]:
fruits = ["Apple" , "Banana", "Cherry"]
for i in fruits:
    print(i)

Apple
Banana
Cherry

A "while loop" is used when you want to repeat a block of code as long as a condition is True.

In [6]:
i = 1
while i <=5 :
    print(i)
    i = i+1

1
2
3
4
5

In [9]:
#Ans 2 using for loop
sum = 0
product = 1
for i in range(1,11) :
    sum = i+i
    product = i*i
print("Sum of first 10 natural number: ", sum)
print("product of first 10 natural number: ", product)

Sum of first 10 natural number:  20
product of first 10 natural number:  100

In [10]:
#using while loop
sum = 0
product = 1
i = 1
while i <= 10 :
    sum = i+i
    product = i*i
    i=i+1
print("sum of first 10 natural number : ", sum)
print("product of first 10 natural number : ", product)

sum of first 10 natural number :  20
product of first 10 natural number :  100

In [12]:
#Ans 3
units = eval(input("Enter the num of units :- "))
if units <= 100:
    bill = unit *4.5
elif units <= 200:
    bill = 100*4.5 + (units - 100) *6
elif units <= 300:
    bill = 100*4.5+ 100*6+(units - 200)*10
else:
    bill = 100 *4.5 + 100*6 + 100*10 + (units - 300) * 20
print("The total electricity bill is:" , bill , "Rs.")

Enter the num of units :-  310

The total electricity bill is: 2250.0 Rs.

In [13]:
#Ans 4 using for loop
cubes = []
for i in range(1,101):
    cube = i **3
    if cube %4 == 0 or cube % 5 ==0 :
        cubes.append(cube)
print(cubes)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [14]:
#using while loop
cubes = []
i = 1
while i <=100:
    cube = i **3
    if cube%4 == 0 or cube% 5 == 0:
        cubes.append(cube)
    i= i+1
print(cubes)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [7]:
#Ans 5
string = " I want to become a data scientist"
vowels = "aieouAIEOU"
count= 0
for char in string:
    if char in vowels:
        count = count+1
        
print("Number of vowels in the string: ", count)

Number of vowels in the string:  12